<div class="container">
	<div class="d-flex flex-column align-items-center">
		{{ form_start(form) }}
		<div class="pt-2">
			{{ form_label(form.username) }}
		</div>
		<div class="">
			{{ form_errors(form.username)}}
		</div>
		<div class="">
			{{ form_widget(form.username, {'attr': {'class': 'border_input'}}) }}
		</div>
		<div class="pt-2">
			{{ form_label(form.email) }}
		</div>
		<div class="">
			{{ form_errors(form.email)}}
		</div>
		<div class="">
			{{ form_widget(form.email, {'attr': {'class': 'border_input'}}) }}
		</div>

		<div class="pt-2">
			{{ form_label(form.roles) }}
		</div>
		<div class="">
			{{ form_errors(form.roles)}}
		</div>
		<div class="">
			{{ form_widget(form.roles, {'attr': {'class': 'border_input'}}) }}
		</div>
        
        

		<div class="text-center p-4">
			<button class="btn bg-success">{{ button_label|default('Save') }}</button>
		</div>

		{{ form_end(form) }}

	</div>
</div>
