{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}


{% block header_title %}
	<div class="container">
		<div class="d-flex justify-content-center">
			<h1>Liste des Utilisateurs</h1>
		</div>
	</div>
{% endblock %}

{% block body %}

	<div class="container">
		<div class="">
			<a href="{{ path('user_new') }}">Create new</a>
		</div>
	</div>
	<div class="container pt-3">
		<div class="d-flex flex-row flex-wrap justify-content-around">
			{% for user in users %}
            <div class="p-2">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{ user.username }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ user.roles ? user.roles|json_encode : '' }}</h6>
						<p class="card-text">{{ user.email }}</p>
						<a href="{{ path('user_show', {'id': user.id}) }}" class="card-link">show</a>
						<a href="{{ path('user_edit', {'id': user.id}) }}" class="card-link">edit</a>
					</div>
				</div>
            </div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

